@page
@using KorpArhivs.Areas.Identity.Pages.Account.Manage
@model PersonalDataModel
@{
    ViewData["Title"] = "Dzēst profilu";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="pb-2">@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p class="pb-2">
            <strong>Dzēšot profilu, Jūs neatgriezeniski izdzēsīsiet Jūsu profilu un tā informāciju.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Dzēst profilu</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
