@page
@model KorpArhivs.Pages.ImagesModel
@using KorpArhivs.Areas.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Bildes";
}

<div class="">
    <div class="container">
        <div class="row pt-5 pb-4">
            <div class="d-flex justify-content-start col-12 col-lg-9">
                <h2>Pievienotās bildes:</h2>
            </div>
            <form class="d-flex justify-content-end col-12 col-lg-3 pb-4">
                <input class="form-control pe-2 mr-md-3" type="search" placeholder="Meklēt" aria-label="Meklēt">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="row pt-5 pb-4">
        @foreach (var galleryFromTable in Model.Galleries)
        {
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card border-light p-4">
                    <img src="@galleryFromTable.FirstImageUri" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="text-center">
                            <a href="/UploadedEvent/@galleryFromTable.EventGroup/@galleryFromTable.Id" class="stretched-link"></a>
                            <p class="card-text">@galleryFromTable.EventName</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
