@page
@model IndexModel
@using KorpArhivs.Areas.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Korp! Arhīvs";
}

@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}
@if (SignInManager.IsSignedIn(User))
{
    @if (await UserManager.IsInRoleAsync(appUser, "User") || await UserManager.IsInRoleAsync(appUser, "Editor") || await UserManager.IsInRoleAsync(appUser, "Administrator"))
    {
        <div class="d-flex aligns-items-center justify-content-center">
            <div class="row border-bottom pt-5 pb-4">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-light p-4">
                        <div class="card-body">
                            <div class="text-center">
                                <a href="/Images" class="stretched-link"><h3 class="mb-2">Bildes</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-light p-4">
                        <div class="card-body">
                            <div class="text-center">
                                <a href="/Documents" class="stretched-link"><h3 class="mb-2">Dokumenti</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-light p-4">
                        <div class="card-body">
                            <div class="text-center">
                                <a href="/Other" class="stretched-link"><h3 class="mb-2">Dažādi</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="row row-grid align-items-center mb-5 mb-lg-7 mt-5">
                <div class="col-12 col-lg-5">
                    <h2 class="mb-4">Notikums #1</h2>
                    <h6>31.04.2017</h6>
                    <div class="">
                        <p>Simpler App remembers your important details, so you can fill carts, not forms. And everything is encrypted so you can speed safely through checkout.</p>
                        <p>Now, you can offset the carbon emissions produced by your deliveries—for free. All you have to do is check out with Shop Pay, one of the first carbon-neutral way to pay.</p>
                        <a href="#" class="btn btn-dark mt-3 animate-up-2">
                            Apskatīt vairāk
                            <span class="icon icon-xs ml-2">
                                <i class="fas fa-external-link-alt"></i>
                            </span>
                        </a>
                    </div>

                </div>
                <div class="col-12 col-lg-6 ml-lg-auto">
                    <img src="/img/illustrations/scene-3.svg" class="w-100" alt="">
                </div>
            </div>
            <div class="row row-grid align-items-center mb-5 mb-lg-7">
                <div class="col-12 col-lg-5 order-lg-2">
                    <h2 class="mb-4">Notikums #2</h2>
                    <h6>16.07.2000</h6>
                    <p>We track your desktop and mobile keyword rankings from any location and plot your full ranking history on a handy graph.</p>
                    <p>You can set up automated ranking reports to be sent to your email address, so you’ll never forget to check your ranking progress.</p>
                    <a href="#" class="btn btn-dark mt-3 animate-up-2">
                        Apskatīt vairāk
                        <span class="icon icon-xs ml-2">
                            <i class="fas fa-external-link-alt"></i>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-lg-6 mr-lg-auto">
                    <img src="/img/illustrations/scene-2.svg" class="w-100" alt="">
                </div>
            </div>*@
        </div>
    }
    else
    {
        <div class="mt-5">
            <h2>Administrators Jūsu profilu vel nav apstiprinājis.</h2>
        </div>
    }


}
else
{
    <h1 class="text-center pt-5">Lai apskatītu saturu, jums ir jāienāk savā profilā.</h1>

    <div class="text-center">
        <a href="/Identity/Account/Login" class="btn btn-secondary mt-3 pe-3">Ienākt</a>
        <a href="/Identity/Account/Register" class="btn btn-secondary mt-3 pe-3">Reģistrēties</a>
    </div>
}

