@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>

}
else
{
    <h1 class="text-center pt-5">Lai apskatītu saturu, jums ir jāienāk savā profilā.</h1>

    <div class="text-center">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Ienākt</a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Reģistrēties</a>
    </div>

}

