@page
@model KorpArhivs.Pages.OtherModel
@{
}

<div class="">
    <div class="container">
        <div class="row pt-5 pb-4">
            <div class="d-flex justify-content-start col-12 col-lg-9">
                <h2>Jaunākie pievienotie notikumi:</h2>
            </div>
            <form class="d-flex justify-content-end col-12 col-lg-3 pb-4">
                <input class="form-control mr-md-3" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="row pt-5 pb-4">
        @foreach (var otherFromTable in Model.Various)
        {
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card border-light p-4">
                    <img src="/img/korp_piem.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="text-center">
                            <p class="card-text">@otherFromTable.EventName</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>