@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privātuma politika";
}

<div class="mt-2">
    <p>Šī privātuma politika informē par privātuma praksi un personas datu apstrādes principiem saistībā ar studentu korporācijas mājas lapu un pakalpojumiem. Lai sazinātos saistībā ar datu apstrādes jautājumiem, lūdzu rakstiet e-pastu uz ronesala@gmai.com.</p>
    <h3 class="mt-2">Kādu informāciju mēs iegūstam?</h3>
    <p>Mēs iegūstam tādus personas datus, ko jūs mums brīvprātīgi sniedzat reģistrējoties savā profilā un rediģējot savus datus.</p>
    <h3 class="mt-2">Kā mēs izmantojam iegūtos personas datus?</h3>
    <p>Jūsu personas dati tiks izmantoti tikai jūsu identificēšanai lietotāju lomu piešķiršanā.</p>
    <p>Mēs varam nodot jūsu informāciju trešajām personām, lai ievērotu normatīvo aktu prasības, sadarbotos ar uzraudzības iestādēm, palīdzētu novērstu noziedzīgas darbības un aizsargātu mūsu, jūsu un citu personu likumīgās tiesības.</p>
    <h3 clas="mt-2">Kā mēs aizsargājam personas datus?</h3>
    <p>Jūsu personas datu aizsardzībai mēs izmantojam dažādus tehniskus un organizatoriskus drošības pasākumus. Jūsu personas dati ir pieejami ierobežotam cilvēku skaitam, tikai pilnvarotām personām.</p>
    <h3 class="mt-2">Cik ilgi mēs glabājam personas datus?</h3>
    <p>Mēs glabājam jūsu personas datus tik ilgi, cik ilgi tie ir mums nepieciešami atbilstoši to ieguves mērķim un kā to pieļauj vai nosaka normatīvo aktu prasības</p>
    <h3 class="mt-2">Jūsu tiesības saistībā ar jūsu personas datiem</h3>
    <p>Ja jūs esat datu subjekts saskaņā ar ES VDAR (piemēram, jūs esat ES pilsonis un sniedzat mums savus personas datus), jums ir turpmāk minētās tiesības saistībā ar saviem personas datiem:</p>
    <ul class="list-group">
        <li class="list-group-item">Tiesības piekļūt informācijai. Jums ir tiesības saņemt informāciju par to, kāpēc un kā tiek apstrādāti jūsu personas dati. Jums ir tiesības bez maksas saņemt mūsu rīcībā esošo jūsu personas datu kopiju plaši izmantotā elektroniskā formātā.</li>
        <li class="list-group-item">Tiesības labot. Jums ir tiesības panākt neprecīzu vai nepilnīgu personas datu labošanu vai papildināšanu bez nepamatotas kavēšanās.</li>
        <li class="list-group-item">Tiesības „tikt aizmirstam”. Jums ir tiesības atsaukt savu piekrišanu personas datu apstrādei un panākt savu personas datu dzēšanu bez nepamatotas kavēšanās, tiklīdz dati vairs nav nepieciešami, lai sniegtu jūsu pieprasītos pakalpojumus un ievērotu normatīvo aktu prasības</li>
        <li class="list-group-item">Tiesības ierobežot apstrādi. Jums ir tiesības panākt savu personas datu apstrādes ierobežošanu, ja jūs iebilstat pret to un mums nav leģitīmu pamatu turpināt apstrādi, ja jūs apstrīdat datu precizitāti, ja apstrāde ir pretlikumīga vai ja jūs pieprasāt celt, īstenot vai aizstāvēt likumīgas prasības.</li>
        <li class="list-group-item">Tiesības iebilst. Jums ir tiesības jebkurā brīdī iebilst pret datu apstrādi, ja vien tas nav nepieciešams sabiedrības interesēs veicamam uzdevumam vai apstrādei nepastāv neapstrīdami likumīgs pamats.</li>
        <li class="list-group-item">Citas tiesības saskaņā ar VDAR. Vairāk informācijas skatiet, apmeklējot ES datu aizsardzībai veltīto mājas lapu.</li>
    </ul>
</div>
