@page
@model KorpArhivs.Pages.UploadFormModel
@{
}

<div class="">
    <div class="pt-3 pb-1">
        <h2>Pievienot notikumu:</h2>
    </div>
    <div class="p-3">
        <form method="post" enctype="multipart/form-data">
            <div class="row row-grid align-items-start mb-5 mb-lg-7 mt-3">
                <div class="col-5 col-lg-5 mt-3 mb-2 me-3">
                    <div class="mt-2 mb-3">
                        <label asp-for="Input.EventName" class="form-label"></label>
                        <input asp-for="Input.EventName" type="text" class="form-control mb-2" placeholder="notikuma nosaukums" aria-label="EventName">
                    </div>
                    <div class="mt-2 mb-3">
                        <label asp-for="Input.EventDate" class="form-label"></label>
                        <input asp-for="Input.EventDate" type="date" class="form-control mb-2" placeholder="piemēram: 22.03.2000" aria-label="EventDate">
                    </div>
                    <div class="mt-2 mb-3">
                        <label asp-for="Input.EventDescription" class="form-label"></label>
                        <textarea asp-for="Input.EventDescription" class="form-control mb-2" placeholder="apraksts" rows="3" aria-label="EventDescription"></textarea>
                    </div>
                    <div class="mt-2 mb-3">
                        <label asp-for="Input.Keyword" class="form-label"></label>
                        <input asp-for="Input.Keyword" type="text" class="form-control mb-2" placeholder="" aria-label="Keyword">
                    </div>
                </div>

                <div class="col-5 col-lg-5 ml-lg-auto mt-3 mb-2">
                    <div class="mt-2 mb-3">
                        <label asp-for="Input.Category" class="form-label"></label>
                        @foreach (var category in Model.Category)
                        {
                            <div class="form-check">
                                <input asp-for="Input.Category" class="form-check-input" type="radio" value="@category">
                                <label class="form-check-label">@category</label>
                            </div>
                        }
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <label asp-for="Input.EventSubcategory" class="form-label"></label>
                        <input asp-for="Input.EventSubcategory" type="text" class="form-control mb-2" placeholder="apakškategorija" aria-label="EventSubcategory">
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <label asp-for="Input.Upload" class="form-label"></label>
                        <div class="mb-3">
                            @* <label for="formFileMultiple" class="form-label">Multiple files input example</label>*@
                            <input asp-for="Input.Upload" class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-secondary d-none d-md-inline mr-md-3">Saglabā</button>
                        <a asp-page="/Index" class="btn btn-outline-primary btn-md d-none d-md-inline">Atcelt</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>