@page
@model KorpArhivs.Pages.UsersModel
@{
}

<div class="">
    <div class="mt-4 pb-1">
        <h2>Lietotāji:</h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Vārds</th>
                <th scope="col">Uzvārds</th>
                <th scope="col">Epasts</th>
                <th scope="col">Apstiprināts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>test@test.lv</td>
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>test@test.lv</td>
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>Thornton</td>
                <td>test@test.lv</td>
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Larry the Bird</td>
                <td>Thornton</td>
                <td>test@test.lv</td>
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Larry the Bird</td>
                <td>Thornton</td>
                <td>test@test.lv</td>
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Larry the Bird</td>
                <td>Thornton</td>
                <td>test@test.lv</td>
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
            </tr>
        </tbody>
    </table>
</div>