@page
@using KorpArhivs.Areas.Identity.Pages.Account
@model AccessDeniedModel
@{
    ViewData["Title"] = "Piekļuve liegta";
}
<div class="mt-2">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h5>Tā iemesli varētu būt: </h5>
</div>
<ul>
    <li>Jūsu profilam nav tiesības piekļūt šai lapai.</li>
    <li>Administrators vel nav apstiprinājis Jūsu profilu.</li>
</ul>

