@page
@using KorpArhivs.Areas.Identity.Pages.Account
@model ExternalLoginModel
@{
    ViewData["Title"] = "Reģistrēties";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p id="external-login-description" class="text-info">
    Jūs esat veiksmīgi reģistrējies ar <strong>@Model.ProviderDisplayName</strong>.
    Lūdzu ievadiet savu e-pastu un pabeidziet reģistrāciju, lai veiksmīgi ienāktu savā profilā.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reģistrēties</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
