@page
@using KorpArhivs.Areas.Identity.Pages.Account
@model LoginModel

@{
    ViewData["Title"] = "Pieslēgties";
}

<div class="row align-items-center p-3 pt-2">
    <div class="col-md-6 border-end-md pb-4 p-sm-5 text-center">
        <h2 class="h3 mb-4 mb-sm-5">Laipni lūdzam!</h2>
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @foreach (var provider in Model.ExternalLogins)
            {
                <button class="btn btn-outline-secondary w-100 mb-3" name="provider" value="@provider.Name">Pieslēgties ar @provider.DisplayName</button>
            }
        </form>
    </div>
    <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5 mt-5">
        <div class="d-flex align-items-center py-3 mb-3">
            <hr class="w-100">
            <div class="px-3">vai</div>
            <hr class="w-100">
        </div>
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-4">
                <label asp-for="Input.Email" class="form-label">E-pasts</label>
                <input asp-for="Input.Email" class="form-control" placeholder="E-pasts" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <div class="d-flex align-items-center justify-content-between">
                    <label asp-for="Input.Password" class="form-label">Parole</label>
                </div>
                <div class="password-toggle">
                    <input asp-for="Input.Password" class="form-control" placeholder="Parole" />
                    <div class="d-flex justify-content-end pt-3">
                        <a id="forgot-password" asp-page="./ForgotPassword" class="fs-sm">Aizmirsi paroli?</a>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary btn-lg w-100" type="submit">Pieslēgties</button>
        </form>
        <div class="mt-4 mt-sm-5">Neesi reģistrējies? <a href="/Identity/Account/Register">Reģistrējies šeit</a></div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
