@page
@using KorpArhivs.Areas.Identity.Pages.Account
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <div class="d-flex flex-column align-items-center text-center m-5">
                <h2 class="fs-3 mt-5">Esat veiksmīgi izgājis no lietotnes.</h2>
                <a asp-page="/Index" class="btn btn-secondary mt-3">
                    Uz sākumu
                </a>
            </div>


        }
    }