@page
@using KorpArhivs.Areas.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model KorpArhivs.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Reģistrēties";
}

<div class="row align-items-center pt-3">
    <div class="row mx-0 align-items-center">
        <div class="col-md-6 border-end-md p-4 p-sm-5">
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @foreach(var provider in Model.ExternalLogins)
                {
                    <button class="btn btn-outline-secondary w-100 mb-3" name="provider" value="@provider.Name">Reģistrēties ar @provider.DisplayName</button>
                }
            </form>
            <div class="mt-sm-4 pt-md-3">Jau esi reģistrējies? <a href="/Identity/Account/Login">Ienākt</a></div>
        </div>
        <div class="col-md-6 px-4 pt-3 pb-4 px-sm-5 pb-sm-5 pt-md-5">
            <div class="d-lg-none d-md-none d-flex align-items-center py-3 mb-3">
                <hr class="w-100">
                <div class="px-3">vai</div>
                <hr class="w-100">
            </div>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-4">
                    <label asp-for="Input.FirstName" class="form-label"></label>
                    <input asp-for="Input.FirstName" class="form-control" placeholder="Vārds" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Input.LastName" class="form-label">Uzvārds</label>
                    <input asp-for="Input.LastName" class="form-control" placeholder="Uzvārds" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Input.Email" class="form-label">E-pasts</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="E-pasts" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Input.Password" class="form-label">Parole</label>
                    <div class="password-toggle">
                        <input asp-for="Input.Password" class="form-control" placeholder="Parole" />
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Parole atkārtoti</label>
                    <div class="password-toggle">
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Parole atkārtoti" />
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="agree-to-terms" required>
                    <label class="form-check-label" for="agree-to-terms">Es piekrītu <a href="#">privātuma noteikumiem</a></label>
                    <span asp-validation-for="Input.HasAccepted" class="text-danger"></span>
                </div>
                <button class="btn btn-secondary btn-lg w-100 mb-5" type="submit">Reģistrēties</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
