/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* My added styles
-------------------------------------------------- */
.logo {
    height: 50px;
}

.fileIcons{
    height: 100px;
    width: 100px;
}

.btn-dark {
    color: #ffffff;
    background-color: #102638;
    border-color: #0d202e;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075);
}

    .btn-dark:hover {
        color: #ffffff;
        background-color: #102638;
        border-color: #0d202e;
    }

    .btn-check:focus + .btn-dark, .btn-dark:focus {
        color: #ffffff;
        background-color: #102638;
        border-color: #0d202e;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075), 0 0 0 0.2rem rgba(59, 88, 111, 0.5);
    }

    .btn-check:checked + .btn-dark,
    .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active,
    .show > .btn-dark.dropdown-toggle {
        color: #ffffff;
        background-color: #102638;
        border-color: #0d202e;
    }

        .btn-check:checked + .btn-dark:focus,
        .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus,
        .show > .btn-dark.dropdown-toggle:focus {
            box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125), 0 0 0 0.2rem rgba(59, 88, 111, 0.5);
        }

    .btn-dark:disabled, .btn-dark.disabled {
        color: #ffffff;
        background-color: #102638;
        border-color: #0d202e;
    }