@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a href="/UploadForm" class="btn btn-dark animate-up-2">
                Pievienot notikumu
                <span class="icon icon-xs ml-2">
                    <i class="fas fa-external-link-alt"></i>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="#"><i class="fas fa-user-alt fa-lg"></i></a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-light">Iziet</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Reģistrēties</a>
        </li>
        <li class="nav-item pe-3">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Ienākt</a>
        </li>
    }
</ul>
